@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

body{
  font-family: 'Inter', sans-serif;
}